
body{
background-image: url("../img/fonds/tapis.png");
}

h2 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#container {
	display: flex;
    justify-content: space-around;
}

.person {
	width: 15%;
	
}

.joueur {
	display: flex;
	justify-content: center;
}

.foto {
	height: 150px;
	border-radius: 150px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.cart_jeux {
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.cart {
	width: 90px;
	background-size: cover;
}

.cart_img {
	width: 100%;
	border-radius: 5px;
	background-color: white;
}

#start_jeux{
display: flex;
justify-content: center;
padding: 100% 0;

}

.bouton_jeux {
	width: 80px;
	height: 80px;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 5px 5px 5px rgb(11, 59, 30);
}

.bouton_jeux:active {
	box-shadow: 0 0;

  transform: translateY(5px);
}

.tapis {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	padding: 1% 0;
}

.cart_tapis {
	display: flex;
	justify-content: space-between;
	width: 530px;
}

